:root {
  --sans-serif: soleil, sans-serif;
  --serif: demos-next, serif;

  --coffee: #efe9d8;
  --teal: #2ea39b;
  --purple: #713f54;
  --dark-blue: #363640;
  --light-purple: #bb8399;
  --dark-purple: #142833;
}

body {
  font: 15px/1.5 var(--sans-serif);
}

h1, h2, h3, h4 {
  font-family: var(--serif);
  line-height: 1.25;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 1.8rem;
}

p {
  margin: 0 0 1.5rem;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

.headline-container,
.nav-container {
  padding-left: calc(100% * 1.5 / 14);
}

.headline-container {
  background: var(--coffee) url(/images/woh-logo.svg) no-repeat calc(100% * 0.75 / 14 - 2.5rem / 2) center;
  background-size: 2.5rem;
}

.headline-content {
  background: var(--teal);
  color: var(--coffee);
  font-size: 1.1rem;
  padding: 5rem;
}

.headline-content > a {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.nav-container {
  background: var(--purple);
}

nav {
  --indent: 11.7rem;
  background: var(--dark-purple);
  padding: 5rem;
  padding-left: calc(var(--indent) + 5rem);
}

nav a {
  color: var(--light-purple);
}

.tag-filters {
  font-family: var(--serif);
  font-weight: 300;
  font-size: 2.5rem;
  color: var(--coffee);
  text-indent: calc(-1 * var(--indent));
}

.tag-filters > a.active {
  color: var(--coffee);
  text-decoration: underline;
}

.location-filters > a {
  text-transform: uppercase;
  padding-left: 5rem;
}

.location-filters > a:first-child:before {
  content: '\1F4CD';
  display: block;
  position: absolute;
}

.woh-menu {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.woh-menu > img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 2.5rem;
}

.woh-menu > div { flex: 1; }
.woh-menu > .works { text-align: right; }
.woh-menu > .heart { text-align: left; }

.woh-menu a {
  text-transform: uppercase;
  color: var(--purple);
  display: inline-block;
  padding-bottom: 0.2rem;
}

.woh-menu a.-active {
  border-bottom: 1px solid;
}

.work-cards {
  width: calc(100% * 12 / 14);
  align-self: center;
}

.work-cards > .gutter {
  width: calc(100% * 0.75 / 12);
}

.work-card {
  width: calc(100% * 3.5 / 12);
  margin-bottom: calc(100% * 0.75 / 12);
}

.work-card > img {
  width: 100%;
}

.work-card > h3 {
  border-top: 3px solid;
  padding-top: 0.5rem;
  margin: 1.5rem 0;
}

.work-card > .project,
.work-card > .tags {
  text-transform: uppercase;
}

.work-card > .project {
  font-weight: bold;
}

.work-card > .tags {
  border-top: 0.5px solid;
  margin-top: 1rem;
  line-height: 2;
}

.stories-section {
  background: var(--coffee);
  color: var(--purple);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3rem;
}

.stories-section > .story-list {
  width: calc(100% * 7 / 14);
  padding-right: calc(100% * 0.5 / 14);
}

.stories-section > .featured-image {
  width: calc(100% * 5 / 14);
  object-fit: contain;
}

.story-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.story-list > .header,
.story-list > .story.-featured {
  width: 100%;
}

.story-list > .header {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.story-list > .header > h2 {
  font-family: var(--sans-serif);
  font-weight: bold;
  font-size: inherit;
}

.story-list > .story {
  width: calc(100% * 3.33 / 7);
  border-top: 0.5px solid;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.story-list > .story > h3 {
  color: var(--dark-purple);
  margin-bottom: 0.5rem;
}

.story-list > .story > time {
  display: block;
  text-align: right;
}
