---
layout: default
permalink: /
---
<main class="home">
  <header>
    <div class="home-headline">
      <div class="home-headline-content">
        <a href="/heart"><strong>Works of Heart</strong> is a Filipino social impact design studio. We believe in
        matching social imagination with good design&mdash; to engage, transform, and shape a
        nation that is free. See how and why we do it.</a>
      </div>
    </div>
    <div class="home-nav">
      <nav>
        <p class="tag-filters button-group" data-filter-group="sector">
          <span>Design for</span>
          <button data-filter="*" class="active">all,</button>
          <button data-filter=".creative-entrepreneurship">creative entrepreneurship</button>,
          <button class="disabled" disabled="disabled">culture and identity,</button>
          <button data-filter=".education">education,</button>
          <button data-filter=".environment">environment,</button>
          <button data-filter=".health">health,</button>
          <button data-filter=".human-and-civil-rights">human and civil rights,</button>
          <button class="disabled" disabled="disabled">innovation and technology</button>
        </p>
        <p class="location-filters button-group" data-filter-group="location">
          <button data-filter="*" class="active">All</button>
          <button data-filter=".Luzon">Luzon</button>
          <button data-filter=".Visayas">Visayas</button>
          <button data-filter=".Mindanao">Mindanao</button>
          <button data-filter=".International">International</button>
        </p>
      </nav>
    </div>
  </header>
  <section class="woh-menu">
    <div class="works"><a href="/" class="-active">Works</a></div>
    <a href="/" class="woh-heart"><img src="/assets/images/woh-logo.svg"></a>
    <div class="heart"><a href="/heart">Heart</a></div>
  </section>
  <section class="work-cards">
    <div class="gutter"></div>
    {% assign ordered_projects = site.projects | sort: "order" %}
    {% for project in ordered_projects %}
    <a
      href="{{ project.url }}"
      class="
        work-card
        {% if project.type %}work-passion{% endif %}
        {% for sector in project.sector %}{{ sector | slugify }}
        {% endfor %}
        {{ project.location_tag | join: ' ' }}
      "
      style="--project-color: {{ project.color_b }}"
    >
      <div class="work-image" style="background-image: url({{ project.hero_image }})"></div>
      <div class="work-text">
        <h4>{{ project.title }}</h4>
        <div class="project">With {{ project.name }}</div>
        <div class="tags">{{ project.service_tags | join: ", " }}</div>
      </div>
    </a>
    {% endfor %}
  </section>
  <section class="home-stories">
    <div class="story-list">
      <div class="header">
        <h5>Stories</h5>
        <a href="/stories">See All</a>
      </div>
      {% for post in site.posts limit:3 %}
      {% if forloop.first %}
      <div class="story -featured">
      {% else %}
      <div class="story">
      {% endif %}
        <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
        <p>{{ post.excerpt }}</p>
        <time>{{ post.date | date_to_string }}</time>
      </div>
      {% endfor %}
    </div>
    <img class="featured-image" src="/assets/images/blog-para-negros/a.jpg">
  </section>
</main>

<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript">
var $work = $('.work-card');
imagesLoaded($work, function () {
  if ($work.length) {
    var $grid = $('.work-cards').isotope({
      itemSelector: '.work-card',
      masonry: {
        columnWidth: '.work-card',
        gutter: '.gutter',
        horizontalOrder: true
      },
      percentPosition: true,
      transitionDuration: 0
    });

  var filters = {};

    $('.home-nav nav p').on('click', 'button', function () {
  var $this = $(this);
  // get group key
  var $buttonGroup = $this.parents('.button-group');
  var filterGroup = $buttonGroup.attr('data-filter-group');
  // set filter for group
  filters[ filterGroup ] = $this.attr('data-filter');
  // combine filters
  var filterValue = concatValues( filters );
  $grid.isotope({ filter: filterValue });

  $buttonGroup.find('button').removeClass('active');
      $(this).addClass('active');

  });

  // flatten object by concatting values
  function concatValues( obj ) {
   var value = '';
    for ( var prop in obj ) {
    value += obj[ prop ];
    }
    return value;
  }


  }
});
</script>
