---
layout: default
permalink: /stories
meta_title: "Stories &nbsp;· &nbsp;Works of Heart"
meta_desc: "Our design is rooted in the genuine consideration of complex social realities and personal experiences. We strive to create work that is truly meaningful, from our process all the way to our output."
meta_img: /assets/images/woh-about-share.jpg
---
<main class="stories">
  <header class="light-header">
    <section class="woh-menu">
        <div class="works"><a href="/">Works</a></div>
        <a href="/" class="woh-heart"><img src="/assets/images/woh-logo-coffee.svg"></a>
        <div class="heart"><a href="/heart">Heart</a></div>
    </section>
    <div class="post-featured mobile-flex-none">
    <div class="post-featured-content mobile-full">
        <h5>STORIES</h5>
         {% for post in site.posts %}
      {% if forloop.first %}
      <div class="story">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        <div class="post-details">
              <div class="post-author">
                  BY {{ post.author }}
              </div>
              <div class="post-date">
                  ON {{ post.date | date_to_string }}
              </div>
        </div>
        <p>{{ post.excerpt }}</p>
      </div>
    </div>
    <img src="{{ post.thumb }}" class="mobile-full">
       {% endif %}

      {% endfor %}
   </header>

   <div class="more-stories">
     {% for post in site.posts %}
      {% if forloop.first %}
      {% else %}
      <div class="story">
          <a href="{{ post.url }}"><img src="{{ post.thumb }}"></a><br/><br/>
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        <div class="post-details">
              <div class="post-author">
                  BY {{ post.author }}
              </div>
              <div class="post-date">
                  ON {{ post.date | date_to_string }}
              </div>
        </div>
        <p>{{ post.excerpt }}</p>
      </div>
      {% endif %}

      {% endfor %}
    </div>
</main>

