---
layout: default
permalink: /stories
---
<main class="stories">
  <header>
    <section class="woh-menu">
        <div class="works"><a href="/">Works</a></div>
        <a href="/" class="woh-heart"><img src="/assets/images/woh-logo-coffee.svg"></a>
        <div class="heart"><a href="/heart">Heart</a></div>
    </section>
    <div class="post-featured">
    <div class="post-featured-content">
        <h5>STORIES</h5>
         {% for post in site.posts %}
      {% if forloop.first %}
      <div class="story">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        <p>{{ post.excerpt }}</p>
        <time>{{ post.date | date_to_string }}</time>
      </div>
      {% endif %}

      {% endfor %}
            </div>
  </header>


         {% for post in site.posts %}
      {% if forloop.first %}
      {% else %}
      <div class="story">
        <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
        <p>{{ post.excerpt }}</p>
        <time>{{ post.date | date_to_string }}</time>
      </div>
      {% endif %}

      {% endfor %}

</main>