<footer>
  <div class="footer-tagline">
    <div class="footer-tagline-content">
      <h3>Good design,<br>for good. </h3>
      <nav>
        <a href="/">Works</a>
        <a href="/heart">Heart</a>
        <a href="/stories">Stories</a>
        <a href="/heart#contact">Contact</a>
      </nav>
    </div>
  </div>
  <div class="footer-contact">
    <div class="footer-contact-content">
      <strong>Works of Heart Design Studio</strong>
      <address>Metro Manila, Philippines</address>
      <div class="email">hello@worksofheartph.com</div>
      <div class="social">
        <a href="#">F</a>
        <a href="#">I</a>
      </div>
    </div>
  </div>
</footer>
