<footer>
  <div class="footer-tagline mobile-full">
    <div class="footer-tagline-content mobile-full">
      <h3 class="mobile-full">Good design,<br>for good<img src="/assets/images/woh-logo-coffee.svg"></h3>
      <nav class="mobile-full">
        <a href="/">Works</a>
        <a href="/heart">Heart</a>
        <a href="/stories">Stories</a>
        <a href="/heart#contact">Contact</a>
      </nav>
      <div class="mobile-only">
        <strong>Works of Heart Design Studio</strong>
        <address>Metro Manila, Philippines</address>
        <div class="email">hello@worksofheartph.com</div>
        <div class="social">
        <a href="https://www.facebook.com/worksofheartph/" target="_blank"><i class="fab fa-facebook"></i></a>&nbsp;
        <a href="https://www.instagram.com/worksofhe.art/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-contact non-mobile">
    <div class="footer-contact-content">
      <strong>Works of Heart Design Studio</strong>
      <address>Metro Manila, Philippines</address>
      <div class="email">hello@worksofheartph.com</div>
      <div class="social">
        <a href="https://www.facebook.com/worksofheartph/" target="_blank"><i class="fab fa-facebook"></i></a>&nbsp;
        <a href="https://www.instagram.com/worksofhe.art/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>

<script>
(function () {
  var menu = document.querySelector('.woh-menu')
  var stickyMenu = document.querySelector('.woh-menu.sticky')
  var menuY = menu.offsetTop
  var prevStick
  function onScroll () {
    var y = window.scrollY || window.pageYOffset
    var stick = y > menuY
    if (prevStick !== stick) {
      stickyMenu.style.display = stick ? 'flex' : 'none'
      menu.style.opacity = stick ? 0 : 1
      prevStick = stick
    }
  }
  window.addEventListener('scroll', function () {
    window.requestAnimationFrame(onScroll)
  })
}())
</script>
