:root {
  --sans-serif: soleil, sans-serif;
  --serif: demos-next, serif;

  --coffee: #efe9d8;
  --teal: #2ea39b;
  --purple: #713f54;
  --dark-blue: #363640;
  --light-purple: #bb8399;
  --dark-purple: #142833;

  --h2: 3.5rem;
  --h3: 2.4rem;
  --h4: 1.7rem;
  --h5: 0.8rem;
  --h6: 0.67rem;

  --indent: 11.7rem;

  --arawaraw-a: #e2c05a;
  --arawaraw-b: #cbae52;

  --nurtury-a:;
  --nurtury-b:;

  --pitakako-a: #0f7a68;
  --pitakako-b: #0d6f5e;

  --childprotection-a: #8c474c;
  --childprotection-b: #7e3f44;

  --alternative-a: #da5641;
  --alternative-b: #ca4f3b;

  --dttb-a:;
  --dttb-b:;

  --anthill-a: #bc9a66;
  --anthill-b: #ab8d5d;

  --myreaders-a: #5d98d0;
  --myreaders-b: #578bbd;
}

body {
  font: 15px/1.5 var(--sans-serif);
}

h1, h2, h3, h4 {
  font-family: var(--serif);
  line-height: 1.25;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

strong {
  font-weight: 600;
}

p {
  margin: 0 0 1.5rem;
  color: var(--dark-blue);
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  color: var(--coffee);
}

/* This aligns the bottom paddings */
footer > div { display: flex; }
footer > div > div { flex: 1; }

.footer-tagline {
  background: var(--teal);
  width: calc(100% * 10 / 14);
}

.footer-tagline-content {
  background: var(--dark-purple);
  padding: 3rem calc(100% * 1 / 10);
  display: flex;
  align-items: flex-end;
  margin-bottom: 3rem;
}

.footer-tagline-content > h3 {
  width: calc(100% * 3 / 8);
  margin-right: calc(100% * 1 / 8);
  font-weight: 300;
}

.footer-tagline-content > nav {
  width: calc(100% * 4 / 8);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: var(--h5);
}

.footer-contact {
  background: var(--coffee);
  padding-bottom: 3rem;
  width: calc(100% * 4 / 14);
}

.footer-contact-content {
  background: var(--purple);
  padding: 3rem 0;
  padding-left: calc(100% * 0.5 / 4);
  padding-right: calc(100% * 1 / 4);
}

.footer-contact-content > strong {
  text-transform: uppercase;
}

.footer-contact-content > address {
  text-decoration: none;
}

/* START OF HOME */

.home-headline,
.home-nav {
  padding-left: calc(100% * 1.5 / 14);
}

.home-headline {
  background: var(--coffee) url(../images/woh-logo.svg) no-repeat calc(100% * 0.75 / 14 - 2.5rem / 2) center;
  background-size: 2.5rem;
}

.home-headline-content {
  background: var(--teal);
  color: var(--coffee);
  padding: 5rem calc(var(--indent) + 3rem) 5rem 5rem;
}

.home-headline-content > a {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.home-nav {
  background: var(--purple);
}

.home-nav > nav {
  background: var(--dark-purple);
  padding: 5rem;
  padding-left: calc(var(--indent) + 5rem);
  font-size: var(--h5);
}

.home-nav > nav a {
  color: var(--light-purple);
}

.home-nav > nav a:hover {
  color: var(--coffee);
}


.tag-filters {
  font-family: var(--serif);
  font-weight: 300;
  font-size: var(--h3);
  text-indent: calc(-1 * var(--indent));
  color: var(--light-purple);
}

.tag-filters span {
  color: var(--coffee);
}

.tag-filters > a.active {
  color: var(--coffee);
  border-bottom: 1px solid;
}

.location-filters > a {
  text-transform: uppercase;
  padding-left: 5rem;
}

.location-filters > a:first-child:before {
  content: '\1F4CD';
  display: block;
  position: absolute;
}

.woh-menu {
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--h5);
  width: 100%;
}

.woh-menu > img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 2rem;
}

.woh-menu > div { flex: 1; }
.woh-menu > .works { text-align: right; }
.woh-menu > .heart { text-align: left; }

.woh-menu a {
  text-transform: uppercase;
  color: var(--purple);
  display: inline-block;
  padding-bottom: 0.2rem;
}

.woh-menu a.-active {
  border-bottom: 1px solid;
}

.work-cards {
  width: calc(100% * 12 / 14);
  align-self: center;
}

.work-cards > .gutter {
  width: calc(100% * 0.75 / 12);
}

.work-card {
  width: calc(100% * 3.5 / 12);
  margin-bottom: calc(100% * 0.75 / 12);
  display: block;
}

.work-card:hover {
  color: var(--coffee);
}

.work-card:hover h4 {
  border-top: 3px solid transparent;
}

.work-card > img {
  width: 100%;
}

.work-text {
  padding: 0rem 1.5rem 1.5rem;
}

.work-text > h4 {
  border-top: 3px solid;
  padding-top: 0.5rem;
  margin: 1.5rem 0;
}

.work-text > .project,
.work-text > .tags {
  text-transform: uppercase;
}

.work-text > .project {
  font-weight: 600;
}

.work-text > .tags {
  border-top: 0.5px solid;
  margin-top: 1rem;
  line-height: 2;
}

.work-card.-arawaraw:hover {
  background-color: var(--arawaraw-b);
}

.work-card.-nurtury:hover {
  background-color: var(--nurtury-b);
}

.work-card.-pitakako:hover {
  background-color: var(--pitakako-b);
}

.work-card.-childprotection:hover {
  background-color: var(--childprotection-b);
}

.work-card.-alternative:hover {
  background-color: var(--alternative-b);
}

.work-card.-dttb:hover {
  background-color: var(--dttb-b);
}

.work-card.-anthill:hover {
  background-color: var(--anthill-b);
}

.work-card.-myreaders:hover {
  background-color: var(--myreaders-b);
}

.home-stories {
  background: var(--coffee);
  color: var(--purple);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.home-stories > .story-list {
  width: calc(100% * 7 / 14);
  padding-right: calc(100% * 0.5 / 14);
}

.home-stories > .featured-image {
  width: calc(100% * 5 / 14);
  object-fit: contain;
}

.story-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.story-list > .header,
.story-list > .story.-featured {
  width: 100%;
}

.story-list > .header {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: var(--sans-serif);
}

.story-list > .header > h5 {
  margin: 0;
}

.story-list > .header > a {
  font-size: var(--h5);
}

.story-list > .story {
  width: calc(100% * 3.33 / 7);
  border-top: 0.5px solid;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.story-list > .story > h4 {
  color: var(--dark-blue);
  margin-bottom: 0.5rem;
}

.story-list > .story > time {
  display: block;
  text-align: right;
}

/* END OF HOME */

/* START OF ABOUT */

.about > .woh-menu {
  background: linear-gradient(to right,
    var(--dark-purple) calc(100% * 5 / 14),
    var(--purple) calc(100% * 5 / 14)
  );
}

.about > .woh-menu a {
  color: var(--coffee);
}

.about-hero {
  background: var(--teal);
  color: var(--coffee);
  display: flex;
  align-items: flex-end;
}

.about-hero > .about-hero-text {
  width: calc(100% * 5 / 14);
  padding: 0 calc(100% * 1 / 14) 3rem;
}

.about-hero > img {
  width: calc(100% * 9 / 14);
}

.about-hero-text > p {
  color: var(--coffee);
}

.about-hero-text > h3 {
  margin-bottom: 1.5rem;
}

.about section:not(.about-hero) {
  width: 100%;
  padding: 5em calc(100% * 2 / 14);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}

.about-values {
  background-color: var(--coffee);
  color: var(--teal);
}

.-with-subheadline h5 {
  flex: none;
  width: 100%;
  text-align: center;
  padding-bottom: 1.5em;
  border-bottom: 0.5px solid;
  text-transform: uppercase;
}

.value {
  width: 45%;
  padding: 1.5em 0;
}

.value h4 {
  padding-bottom: 0.5em;
}

.value p, .headline p {
  color: var(--dark-blue);
}

.about-values > .value:nth-child(3),
.about-values > .value:nth-child(2) {
  border-bottom: 0.5px solid;
}

.-with-headline {
  width: 100%;
  padding: 3em calc(100% * 2 / 14);
}

.-with-headline .headline {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
  align-content: flex-start;
  color: var(--teal);  
  border-top: 0.5px solid;
  padding-top: 1em;
  flex: none;
  margin-bottom: 5em;
  width: 100%;
}

.-with-headline .headline * {
  width: 45%;
}

.team {
  width: 45%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;  
  margin-bottom: 3em;
}

.team > img {
  width: 40%;
}

.team > div {
  width: 55%;
}

.team h4 {
  font-weight: bold;
  color: var(--purple);
  margin-bottom: 0.5em;
}

.team h6 {
  text-transform: uppercase;
  margin: 0.5em 0;
}

.team.-partner {
  width: 25%;
}

.team.-partner > * {
  width: 100%;
}

.about-acknowledge > h5 {
  color: var(--teal);
}

.about-acknowledge > * {
  flex: none;
  width: 100%;
}

.about-acknowledge ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  columns: 5;
}

.about-acknowledge ul li {
  padding: 0.2em 0;
}


/* END OF ABOUT */

/* START OF PROJECT */

.project > .woh-menu {
  position: absolute;
}

.project > .woh-menu a {
  color: var(--coffee);
}

.project-hero {
  display: flex;
  height: 100vh;
}

.project-hero > img {
  width: calc(100% * 7 / 14);
}

.project-hero > .project-hero-text {
  width: calc(100% * 9 / 14);
  display: flex;
  flex-direction: column;
}

.project-title {
  padding: 2rem calc(100% * 1 / 14) 3rem;
  color: var(--coffee);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-details {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem calc(100% * 1 / 14) 0;
  color: var(--coffee);
}

.project-details > div {
  width: calc(100% * 7 / 14);
}

.project-details > div > * {
  border-bottom: 0.5px solid;
  padding: 1em;
  margin: 0;
}

.project-details > div > div {
  padding-bottom: 2rem;
}

.project-details > div:nth-child(3) > div ,
.project-details > div:nth-child(4) >div {
  border-bottom: 0.5px solid transparent;
  padding-bottom: 5rem;
}

.project-details > div:nth-child(odd) > div {
  border-right: 0.5px solid;
}