<!doctype html>
<html lang="en">
<head>
  <title>Works of Heart &nbsp;· &nbsp;Filipino Social Impact Design Studio</title>
  <link rel="stylesheet" href="https://use.typekit.net/lyk0uyc.css">
  <link rel="stylesheet" href="/assets/css/sanitize.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link href="assets/css/zoom.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
  {{ content }}
</body>
</html>
