<!doctype html>
<html lang="en">
<head>
  <title>Works of Heart &nbsp;· &nbsp;Filipino Social Impact Design Studio</title>
  <link rel="stylesheet" href="https://use.typekit.net/lyk0uyc.css">
  <link rel="stylesheet" href="/assets/css/sanitize.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link href="/assets/css/zoom.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b5cb587c35.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/transition.js"></script>
  <script src="/assets/js/zoom.js"></script>
</head>
<body>
  {{ content }}
  <section class="woh-menu sticky">
    <div class="works"><a href="/">Works</a></div>
    <a href="/" class="woh-heart"><img src="/assets/images/woh-logo.svg"></a>
    <div class="heart"><a href="/heart">Heart</a></div>
  </section>
  {% include footer.html %}
</body>
</html>
