---
layout: default
---
<main class="project">
  <section class="woh-menu">
    <div class="works"><a href="/">Works</a></div>
    <img src="/assets/images/woh-logo.svg">
    <div class="heart"><a href="/heart">Heart</a></div>
  </section>
  <section class="project-hero">
    <img src="{{ page.hero_image }}">
    <div class="project-hero-text">
      <div class="project-title" style="background-color: {{ page.color_a }};">
        <h2>{{ page.title }}</h2>
        <p>With {{ page.name }}</p>
      </div>
      <div class="project-details" style="background-color: {{page.color_b}};">
        <div class="project-sector">
          <h5>SECTOR</h5>
          <div>Education</div>
        </div>
        <div class="project-partner">
          <h5>PARTNER</h5>
          <div>SunLife Foundation</div>
        </div>
        <div class="project-location">
          <h5>LOCATION</h5>
          <div>Mindanao</div>
        </div>
        <div class="project-services">
          <h5>SERVICES</h5>
          <div>Graphic design</div>
        </div>
      </div>
    </div>
  </section>
</main>
