---
layout: default
---
<main class="project" style="--project-color: {{ page.color_b }}">
  <section class="woh-menu">
    <div class="works"><a href="/">Works</a></div>
    <img src="/assets/images/woh-logo.svg">
    <div class="heart"><a href="/heart">Heart</a></div>
  </section>
  <section class="project-hero">
    <img src="{{ page.hero_image }}">
    <div class="project-hero-text">
      <div class="project-title" style="background-color: {{ page.color_a }};">
        <h2>{{ page.title }}</h2>
        <p>With {{ page.name }}</p>
      </div>
      <div class="project-details {% if page.collaborator == nil %}no-collaborator{% endif %} {% if page.link_text == nil %}no-link{% endif %}" style="background-color: {{page.color_b}};">
        <div class="project-sector">
          <h6>SECTOR</h6>
          <div>{{ page.sector | join: ", " }}</div>
        </div>
        <div class="project-{{ page.collaborator-heading }}">
          <h6>{{ page.collaborator-heading }}</h6>
          <div>{{ page.collaborator }}</div>
        </div>
        <div class="project-location">
          <h6>LOCATION</h6>
          <div>{{ page.location }}</div>
        </div>
        <div class="project-services">
          <h6>SERVICES</h6>
          <div>{{ page.services | join: ", " }}</div>
        </div>
        <div class="project-link">
          <h6><a href="{{ page.link }}" target="_blank">{{ page.link_text }}</a></h6>
        </div>
      </div>
    </div>
  </section>
  {{ page.content }}
  {% include footer.html %}
</main>
